<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/layui/css/layui.css">
    <link rel="stylesheet" href="/assets/css/login.css">
</head>

<body>
    <div class="login">
        <h1>托尔管理系统</h1>
        <form action="/users" method="post" id="loginData">
            <input type="text" name="username" placeholder="账号" />
            <input type="password" name="password" placeholder="密码" />
            <button type="submit" id="loginBtn" class="btn btn-primary btn-block btn-large">登录</button>
        </form>
    </div>
</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/layui/layui.js"></script>
<script>
    $("#loginBtn").on('click', () => {
        const data = $("#loginData").serialize()
        console.log(data);
        $.post('/users', data).then(res => {
            // const { code, message } = res;
            if (res.code == 0) {   
                location.href = '/'
            }else{
                layer.msg('账号或密码错误');
            }
        });
        return false;
    })
</script>

</html>